body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2em;
}

section {
    background-color: white;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 1em;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5em;
}
a {
    color: #ff6f61;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.gallery-item {
    border-radius: 10px;
    overflow: ;
}
.spisoc {
    list-style-type: disc;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    margin-left: 20px;
}

.spisoc li {
    margin-bottom: 5px;
}
.image {
    margin: 10px;
    width: 250px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.image img:hover {
    transform: scale(1.1);
}

.image a {
    display: block;
    text-decoration: none;
    color: inherit;
}